<div id="article_content">
  <%= @source.readable_content %>
</div>

<% content_for :page_header do %>
  <h1><%= @source.title %></h1>
<% end %>

<% content_for :sidebar do %>
  <div class="info">
    <h3>Article</h3>
    <dl>
      <dt>Source URL</dt> <dd><a href="<%= @source.url %>"><%= @source.host %></a></dd>
      <dt>Topic</dt> <dd>PostgreSQL</dd>
      <dt>Views</dt> <dd><%= rand(10) %></dd>
      <dt>Up/Down votes</dt> <dd><%= rand(10) %>/<%= rand(10) %></dd>
    </dl>
  </div>
  <div class="buttons">
    <a href="#" class="btn danger">This doc is not helpful</a>
  </div>
<% end %>
